In [4]:
import requests

In [12]:
import pandas as pd

In [24]:
import bs4

In [2]:
url = 'https://ddragon.leagueoflegends.com/cdn/13.24.1/data/ko_KR/champion.json'

In [5]:
a = requests.get(url)

In [8]:
res = a.json()

# champion_id, champion_name_kr, champion_name_en

In [140]:
list(res['data'].keys())

['Aatrox',
 'Ahri',
 'Akali',
 'Akshan',
 'Alistar',
 'Amumu',
 'Anivia',
 'Annie',
 'Aphelios',
 'Ashe',
 'AurelionSol',
 'Azir',
 'Bard',
 'Belveth',
 'Blitzcrank',
 'Brand',
 'Braum',
 'Briar',
 'Caitlyn',
 'Camille',
 'Cassiopeia',
 'Chogath',
 'Corki',
 'Darius',
 'Diana',
 'Draven',
 'DrMundo',
 'Ekko',
 'Elise',
 'Evelynn',
 'Ezreal',
 'Fiddlesticks',
 'Fiora',
 'Fizz',
 'Galio',
 'Gangplank',
 'Garen',
 'Gnar',
 'Gragas',
 'Graves',
 'Gwen',
 'Hecarim',
 'Heimerdinger',
 'Hwei',
 'Illaoi',
 'Irelia',
 'Ivern',
 'Janna',
 'JarvanIV',
 'Jax',
 'Jayce',
 'Jhin',
 'Jinx',
 'Kaisa',
 'Kalista',
 'Karma',
 'Karthus',
 'Kassadin',
 'Katarina',
 'Kayle',
 'Kayn',
 'Kennen',
 'Khazix',
 'Kindred',
 'Kled',
 'KogMaw',
 'KSante',
 'Leblanc',
 'LeeSin',
 'Leona',
 'Lillia',
 'Lissandra',
 'Lucian',
 'Lulu',
 'Lux',
 'Malphite',
 'Malzahar',
 'Maokai',
 'MasterYi',
 'Milio',
 'MissFortune',
 'MonkeyKing',
 'Mordekaiser',
 'Morgana',
 'Naafiri',
 'Nami',
 'Nasus',
 'Nautilus',
 'Neeko',
 'Nidalee',
 'Nilah',
 'Nocturne',
 'Nunu',
 'Olaf',
 'Orianna',
 'Ornn',
 'Pantheon',
 'Poppy',
 'Pyke',
 'Qiyana',
 'Quinn',
 'Rakan',
 'Rammus',
 'RekSai',
 'Rell',
 'Renata',
 'Renekton',
 'Rengar',
 'Riven',
 'Rumble',
 'Ryze',
 'Samira',
 'Sejuani',
 'Senna',
 'Seraphine',
 'Sett',
 'Shaco',
 'Shen',
 'Shyvana',
 'Singed',
 'Sion',
 'Sivir',
 'Skarner',
 'Sona',
 'Soraka',
 'Swain',
 'Sylas',
 'Syndra',
 'TahmKench',
 'Taliyah',
 'Talon',
 'Taric',
 'Teemo',
 'Thresh',
 'Tristana',
 'Trundle',
 'Tryndamere',
 'TwistedFate',
 'Twitch',
 'Udyr',
 'Urgot',
 'Varus',
 'Vayne',
 'Veigar',
 'Velkoz',
 'Vex',
 'Vi',
 'Viego',
 'Viktor',
 'Vladimir',
 'Volibear',
 'Warwick',
 'Xayah',
 'Xerath',
 'XinZhao',
 'Yasuo',
 'Yone',
 'Yorick',
 'Yuumi',
 'Zac',
 'Zed',
 'Zeri',
 'Ziggs',
 'Zilean',
 'Zoe',
 'Zyra']

In [141]:
data = res['data']

In [142]:
champ_list = list(data.keys())

In [147]:
result = list(map(lambda x:[data[x]['key'], data[x]['name'], x] ,champ_list))

In [148]:
df = pd.DataFrame(result, columns = ['champion_id', 'champion_name_kr', 'champion_name_en'])

In [149]:
df

    champion_id champion_name_kr champion_name_en
0           266             아트록스           Aatrox
1           103               아리             Ahri
2            84              아칼리            Akali
3           166              아크샨           Akshan
4            12             알리스타          Alistar
..          ...              ...              ...
161         221               제리             Zeri
162         115               직스            Ziggs
163          26              질리언           Zilean
164         142               조이              Zoe
165         143              자이라             Zyra

[166 rows x 3 columns]